// Based on: https://github.com/jorenvanhee/sass-burger

// Burger parts
//
// (---) top    -> &::before
// [---] middle -> &
// (---) bottom -> &::after


@mixin icon-burger($width: 1em, $height: 1em, $line-width: 5px,
                   $color: black, $transition-duration: 0.3s) {

  $gutter: ($height - em-calc($line-width) * 3) / 2;
  $icon-burger-margin: em-calc($line-width) + $gutter !global;

  position: relative;
  margin-top: $icon-burger-margin;
  margin-bottom: $icon-burger-margin;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  &, &::before, &::after {
    display: block;
    width: $width;
    height: $line-width;
    border-radius: $line-width / 2;
    background-color: $color;
    transition-property: background-color, transform;
    transition-duration: $transition-duration;
  }

  &::before, &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: -$icon-burger-margin;
  }

  &::after {
    top: $icon-burger-margin;
  }
}

// Burger animations
@mixin icon-burger-cross {
  & {
    background-color: transparent;
  }
  &::before {
    -webkit-transform: translateY($icon-burger-margin) rotate(45deg);
        -ms-transform: translateY($icon-burger-margin) rotate(45deg);
            transform: translateY($icon-burger-margin) rotate(45deg);
  }
  &::after {
    -webkit-transform: translateY(-$icon-burger-margin) rotate(-45deg);
        -ms-transform: translateY(-$icon-burger-margin) rotate(-45deg);
            transform: translateY(-$icon-burger-margin) rotate(-45deg);
  }
}
