@import "asciidoc-print";

@media print {
  @page {
    margin: 3cm 2.5cm 2cm 2.5cm;
  }

  // Override base font size.
  body {
    font-size: 11pt;
  }

  // Override font size from _asciidoc for code blocks.
  .literalblock, .listingblock {
    pre, pre[class] {
      font-size: 10pt;
    }
  }

  header, .navbar, .toolbar {
    display: none !important;
  }

  #main-wrapper, .main-content {
    padding: 0;
    margin: 0;
    min-height: auto;
  }
}
