// Body (IMPORTANT $body-* and $base-* variables must be defined above the defaults import)

$base-font-size: 18px;

@import "defaults";

// Custom variables (not defined by Foundation)

$padding: 1.1rem;
$border-color: #aaa;
$page-header-height: 3.65rem;
$navbar-width: 18rem;
$content-max-width: 45rem;


// Default Overrides

$primary-color: #bf0422;
$global-radius: 4px;
$panel-font-color: rgba(0, 0, 0, 0.75);
$small-font-size: 0.9em;

// Headings

$header-font-family: $body-font-family;
$header-font-weight: 600;
$header-font-color: $body-font-color;
$header-line-height: 1.2;
$header-top-margin: 0.7em;  // FIXME this s kinda broken
$header-bottom-margin: 0.6em;

$title-font-color: rgba(0, 0, 0, 0.85);
$title-font-weight: $header-font-weight;

$subheader-font-family: $body-font-family;
$subheader-font-size: 1rem;
$subheader-font-color: darken($header-font-color, 15%); // resolves to #7a2518
$subheader-font-weight: normal;
$subheader-font-style: italic;
$subheader-line-height: 1.45;
$subheader-top-margin: 0;
$subheader-bottom-margin: 0.25em;

$sidebar-header-align: center;

$sect-divider-style: none;

$h1-font-size: 2em;
$h2-font-size: 1.75em;
$h3-font-size: 1.48em;
$h4-font-size: 1.28em;
$h5-font-size: 1.12em;
$h6-font-size: 1em;

// Paragprah

$paragraph-line-height: 1.6;
$paragraph-margin-bottom: 1em;

// Inline Code

$code-font-family: Consolas, "Liberation Mono", Courier, monospace;
$code-font-size: 1em;
$code-font-weight: normal;
// FIXME don't forget about code in a table cell
$code-line-height: 1.45;
$code-color: $body-font-color;
$code-bg-color: #f7f7f8;
$code-padding: 0.1em 0.5ex;
$code-word-spacing: -0.15em;
$code-text-rendering: optimizeSpeed;

// Code Blocks
// *Recommended highlight.js themes: magula, default, docco

$pre-font-family: $code-font-family;
$pre-font-color: $code-color;
$pre-font-size: $small-font-size;
$pre-line-height: $code-line-height;
$pre-bg: $code-bg-color;
$pre-border-size: 1px;
$pre-border-style: solid;
$pre-padding: 0.3em 0.6em;

// Links

$anchor-text-decoration-hover: underline;

// Lists

$list-side-margin: emCalc(24px);
$definition-list-header-margin-bottom: emCalc(5px);
$definition-list-margin-bottom: emCalc(20px);

// Blockquotes

$blockquote-font-color: $title-font-color;
$blockquote-cite-font-color: rgba(0, 0, 0, 0.6);
$blockquote-cite-font-size: emCalc(15px);

// Tables

$table-head-font-size: inherit;
$table-row-font-size: inherit;
$table-line-height: 1.6;
$table-head-bg: #f7f8f7;
$table-even-row-bg: #f8f8f7;
$table-border-color: #dedede;
