@import "settings";
@import "asciidoc";

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: $page-header-height;
  line-height: $page-header-height;
  padding: 0 $padding;
  background: white;
  border-bottom: 1px solid $border-color;
}

#main-wrapper {
  margin-top: $page-header-height;
  margin-left: $navbar-width;
}

.main-content {
  clear: both;
  max-width: 760px;
  margin: auto;
  padding: $padding;
}

footer {
  width: 100%;
  margin: 0 auto 1em auto;
  padding: $padding;
  border-top: 1px solid $border-color;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-size: $small-font-size;
  font-weight: 400;
}

header, footer {
  a {
    color: $body-font-color;
  }
  a:active, a:focus, a:hover {
    text-decoration: underline;
  }
}

.header-logo {
  // These values are hacked to get the logo on the same position as on
  // the new web.
  height: 1.73rem;
  margin-top: -0.5rem;
}

.navbar {
  position: fixed;
  left: 0;
  width: $navbar-width;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0.4rem;
  background: #eee;
  font-size: $small-font-size;
  line-height: 1.2;

  a {
    color: $body-font-color;
  }
  a.current {
    color: $primary-color;
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding-right: 0.2em;
  }
  & > ul {
    margin-left: $padding;
  }

  li {
    padding-top: 0.8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.toolbar {
  width: 100%;
  padding: 0.7rem $padding;
  font-size: $small-font-size;
  text-rendering: optimizeLegibility;
}

.toolbar-actions {
  display: inline;
  float: right;
  margin: 0;
  list-style: none;

  & > li {
    display: inline-block;
    padding: 0 0.3em;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


// Hacks from https://github.com/asciidoctor/asciidoctor-stylesheet-factory/blob/master/sass/settings/_asciidoctor.scss

dt, th.tableblock, td.content, div.footnote {
  // NOTE text-rendering is already set for p.
  text-rendering: optimizeLegibility;
}

// NOTE include blockquote for when it doesn't have a nested p.
p, blockquote, dt, td.content, span.alt {
  font-size: 1.0625rem;
}

p {
  margin-bottom: 1.25rem;
}

// Restore font size in sidebar block and regular table cells.
.sidebarblock p, .sidebarblock dt, .sidebarblock td.content, p.tableblock {
  font-size: 1em;
}

@import "print";
