<input type="checkbox" id="navbar-toggle" role="button" />
<label for="navbar-toggle">
  <span class="icon-burger"></span>
</label>

<nav class="navbar">
  <%= partial '_layouts/pages-tree' %>
</nav>
