<ul class="toolbar-actions">
  <li>
    <a href="<%= github_edit_link %>" rel="external" title="Edit on GitHub">
      <%= use_icon 'pencil' %>
      <span class="icon-label">Improve this page</span>
    </a>
  </li>
</ul>
